@import '@varient/ui/styles/globals.css';
@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@source '../../node_modules/fumadocs-ui/dist/**/*.js';
@source '../../../node_modules/fumadocs-ui/dist/**/*.js';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;
  --removed-body-scroll-bar-size: 0 !important;
}
